// import fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');

// Colors variable
@purple100: hsl(254, 88%, 90%);
@purple500: hsl(256, 67%, 59%);
@yellow100: hsl(31, 66%, 93%);
@yellow500: hsl(39, 100%, 71%);
@white: hsl(0, 0%, 100%);
@black: hsl(0, 0%, 0%);

