// import fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');

// Colors variable
@purple100: hsl(254, 88%, 90%);
@purple500: hsl(256, 67%, 59%);
@yellow100: hsl(31, 66%, 93%);
@yellow500: hsl(39, 100%, 71%);
@white: hsl(0, 0%, 100%);
@black: hsl(0, 0%, 0%);

//mixin
.rounded {
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 1rem;
}

.highlight {
    color: @yellow500;
}

:root {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    color: @black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
background-color: gray;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.3rem;
    
}

h1, h2, h3 {
    line-height: 1;
    letter-spacing: -0.5px;
    font-weight: 500;
}

main.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem;
    margin: 1.25rem 0.75rem;
    
    .title {
        background-color: @purple500;
        color: @white;
        display: flex;
        flex-direction: column;
        align-items: center;
        .rounded();
        padding: 2rem 2.25rem;

        h1 {
            width: 90%;
            margin-bottom: 1rem;
            text-align: center;

            span {
                .highlight();
            }
        }

        img {
            width: 70%;
            margin-bottom: 0.5rem;
        }
    }

    .account {
        background-color: @white;
        .rounded();

        img {
            width: 100%;
        }
       
    }

    .consistent {
        background-color: @yellow500;
        position: relative;
        .rounded();
        padding-bottom: calc(40% + 1.5rem);

        h3 {
            width: 90%;
        }

        div.schedule-wrapper{
            position: absolute;
            bottom: 0rem;
            width: 60%;
            height: 60%;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

    }

    .optimize-schedule {
        background-color: @purple100;
        .rounded();
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;

        h3 {
            text-align: center;
        }

        img {
            width: 100%;
            margin: 1rem 0;
        }

        p {
            text-align: center;
        }
    }

    .follower {
        background-color: @purple500;
        color: @white;
        display: flex;
        flex-direction: column;
        align-items: center;
        .rounded();

        img {
            width: 70%;
            margin-bottom: 1.5rem;
        }

        h2 {
            width: 75%;
            text-align: center;
        }
    }

    .growth {
        background-color: @white;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        .rounded();

        img {
            width: 60%;
        }
    }
    .quick {
        background-color: @yellow100;
        .rounded();

        h2 {
            font-weight: 500;

            span {
                color: @purple500;
            }
        }

        img {
            width: 50%;
            margin: 1rem 0;
        }
    }
    .write {
        background-color: @yellow500;
        .rounded();

        h2 {
            font-weight: 500;
        }
        
        img {
            width: 70%;
            margin-top: 1rem;
        }
    }
}

@media screen and (min-width: 768px) {
    main.wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(min-content, max-content);
        gap: 1.5rem;
        margin: 2rem 3rem;

        .title {
            grid-column: 1 / 3;
        }
        
        .optimize-schedule {
            grid-column: 3;
            grid-row: 1 / 3;
        }

        .follower {
            grid-column: 2 / 4;
            grid-row: 3;
        }
        
        .write {
            grid-column: 2 / 4;
        }
    }
}

